.square-dark,
.square-light {
  height: 80px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.square-dark {
  background-color: darkslateblue;
}

.square-light {
  background-color: lightsteelblue;
}