.square-dark,
.square-light,
.valid-move {
  max-width: 100%;
  min-height: 80px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.square-dark {
  background-color: darkslateblue;
}

.square-light {
  background-color: lightsteelblue;
}

.valid-move {
  background-color: lightgreen;
}